- show_exit_button = true if local_assigns[:show_exit_button].nil?
- render_title = true if local_assigns[:render_title].nil?
- exit_path = 'javascript:;' if local_assigns[:exit_path].nil?
- exit_without_saving = true if local_assigns[:exit_without_saving]
- presenter = NfgOnboarder::MastheadPresenter.new(onboarding_session, self) if local_assigns[:presenter].nil?

.builder-header
  .row.align-items-center.justify-content-between
    .col
      = ui.nfg :typeface, :muted, caption: presenter.title_bar_caption, class: 'mb-0'
      = ui.nfg :typeface, :white, heading: presenter.title_bar_title, render_if: render_title

    - if show_exit_button
      .col-auto
        - if first_step || exit_without_saving
          = ui.nfg :button, :link, href: exit_without_saving_path, body: t('title_bar.buttons.exit', scope: locale_namespace), class: 'my-1 text-light', id: 'exit_button'

        - else
          = ui.nfg :button, :link, href: exit_path, id: 'save_and_exit',  body: t('title_bar.buttons.save_and_exit', scope: locale_namespace), class: 'my-1 text-light'
