.container-fluid.container-brand.hidden-xs
  .container
    .row
      .col-sm-12
        - if entity.main_logo.present?
          = image_tag entity.main_logo.url(:welcome_logo), alt: 'Network for Good Presents Social Fundraising'
        - else
          =image_tag 'onboarding/logo-product.png', alt: 'Network for Good Presents Social Fundraising'
